// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.wrapper {
  margin: 0px auto;
  display: flex;
  justify-content: center;
}

.offerTitle {
  font-weight: 700;
}

.offerCard {
  margin: 20px;
}

.codeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px rgb(226, 226, 226);
  border-radius: 5px;
  padding: 5px;
  padding-left: 15px;
  max-width: 300px;
  margin: 25px auto;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.6); 
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.6);
}

.code {
  font-weight: 700;
  font-size: 16px;
}